<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- New Car Form -->
    <form action="/vehicles/new" method="post">
      <input type="text" id="year" class="fadeIn first" name="year" placeholder="year">
      <input type="text" id="make" class="fadeIn second" name="make" placeholder="make">
      <input type="text" id="model" class="fadeIn third" name="model" placeholder="model">
      <input type="text" id="color" class="fadeIn fourth" name="color" placeholder="color">
      <input type="text" id="vin" class="fadeIn fifth" name="vin" placeholder="vin">
      <input type="submit" class="fadeIn sixth" value="create car">
    </form>
  </div>
</div>