
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <form action="/login" method="post">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <form method="get" action="/user/create">
        <input type="submit" class="fadeIn fourth" value="create new account">
      </form>
    </div>

  </div>
</div>