
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <form action="/login" method="post">
      <input type="text" id="login" class="fadeIn first" name="login" placeholder="LOGIN">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="log in">
      <input type="submit" class="fadeIn fourth" value="create new"><a href="user/create"</a>
    </form>
  </div>
</div>