
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <form action="/login" method="post">
      <input type="text" id="login" class="fadeIn first" name="login" placeholder="LOGIN">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="log in">
    </form>
    <form action="/user/create" method="get">
      <input type="submit" class="fadeIn fifth" value="new account">
    </form>
  </div>
</div>