<div class="card-vehicle-info">
  <p class="card-content">name: <%=@user.name%></p>
  <p class="card-content">email: <%=@user.email%></p>
  <p class="card-content">password: ***********</p>
  <form action="/user/<%=@user.id%>/edit" method="get">
    <input type=submit name="edit" value="edit">
  </form>
  <form action="/user/<%=@user.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type=submit name="delete" value="delete account">
  </form>

</div>
