<div class="card-vehicle-info">
  <h5 class="card-title">You are not authorized to view this page</h5>
  <form action="/vehicles" method="get">
    <input type=submit name="home" value="take me home">
  </form>
</div>