<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <form action="/home" method="post">
      <input type="text" id="name" class="fadeIn first" name="name" placeholder="full name">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">

    <div id="formFooter">
        <input type="submit" class="fadeIn fourth" value="create new account">
    </div>
    </form>
  </div>
</div>