<h1>Welcome to Vehicle Base</h1>
<form method='post' action='/login'>
    <input name="user_name" placeholder="email">
    <input name="password" placeholder="password">
    <button name="login">login</button>
    <form action='sign_up' method='post'>
        <button name="sign_up">sign up</button>
    </form>
</form>