<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand" href="/">Vehicle Base</a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item"><a class="nav-link" href="/cars">cars</a></li>
      <li class="nav-item"><a class="nav-link" href="/new">new car</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
    </ul>
  </div>
</header>

<h3>Your Cars</h3>

