<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand" href="/">Vehicle Base</a>
</header>


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <form action="/login" method="post">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <form method="post" action="/create">
        <input type="submit" class="fadeIn fourth" value="create new account">
      </form>
    </div>

  </div>
</div>